<settings xmlns="http://maven.apache.org/POM/4.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
                      
	<localRepository>C:\m2-repository</localRepository>
	<!--<offline>true</offline>-->
	

	<servers />
	
	
	<mirrors>
	<!--
		<mirror>
			<id>FTRDProxy_central</id>
			<mirrorOf>central</mirrorOf>
			<name>FTRD Maven Proxy mirroring central (maven 2) repository</name>
			<url>http://maven2.rd.francetelecom.fr/proxy/repository/public</url>
		</mirror>
	-->
		<mirror>
			<id>repo.jenkins-ci.org</id>
			<url>http://repo.jenkins-ci.org/public/</url>
			<mirrorOf>m.g.o-public</mirrorOf>
		</mirror>
		
	</mirrors>
	
	<proxies>
		<proxy>
			<active>true</active>
			<protocol>http</protocol>
			<host>172.16.64.93</host>
			<port>9090</port>
		</proxy>	
	</proxies>

	<profiles>
		<profile>
			<id>repo-karma</id>
			
			<repositories>
				<repository>
					<id>karma.central</id>
					<name>Karma Central Repository</name>
					<url>http://10.170.224.81/m2-repository</url>
					<snapshots><enabled>true</enabled></snapshots>
					<releases><enabled>true</enabled></releases>
				</repository> 
				<repository>
				   <id>karma.repository</id>
				   <name>Karma Repository</name>
				   <url>http://karma.orangeforge.rd.francetelecom.fr/m2-repository</url>
				   <releases><enabled>true</enabled></releases>
				   <snapshots><enabled>false</enabled></snapshots>
				 </repository>
				 <repository>
				   <id>karma.snapshot.repository</id>
				   <name>Karma Snapshot Repository</name>
				   <url>http://karma.orangeforge.rd.francetelecom.fr/m2-snapshot-repository</url>
				   <releases><enabled>false</enabled></releases>
				   <snapshots><enabled>true</enabled></snapshots>
				 </repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>karma.plugins</id>
					<name>Karma Central Repository</name>
					<url>http://10.170.224.81/m2-repository</url>
					<snapshots><enabled>true</enabled></snapshots>
					<releases><enabled>true</enabled></releases>
				</pluginRepository>
				<pluginRepository>
					 <id>OrangeInhouseReleases</id>
					 <name>Orange Inhouse Releases</name>
					 <url>http://maven2.rd.francetelecom.fr/proxy/content/repositories/inhouse/</url>
					 <snapshots><enabled>false</enabled></snapshots>
					 <releases><enabled>true</enabled></releases>
				</pluginRepository> 
			</pluginRepositories>
		</profile>
		<profile>
			<id>sirocco</id>
			<repositories>
				<repository>
					<id>sirocco.public.repository</id>
					<name>Sirocco public repo</name>
					<url>http://repository.ow2.org/nexus/content/groups/public/</url>
					<releases><enabled>true</enabled></releases>
				    <snapshots><enabled>true</enabled></snapshots>
				</repository>
				<repository>
					<id>sirocco.releases.repository</id>
					<name>Sirocco releases</name>
					<url>http://repository.ow2.org/nexus/content/repositories/releases/</url>
					<releases><enabled>true</enabled></releases>
				    <snapshots><enabled>false</enabled></snapshots>
				</repository>
				<repository>
					<id>sirocco.releases.legacy.repository</id>
					<name>Sirocco releases legacy</name>
					<url>http://repository.ow2.org/nexus/content/repositories/ow2-legacy/</url>
					<releases><enabled>true</enabled></releases>
				   <snapshots><enabled>false</enabled></snapshots>
				</repository>
				<repository>
					<id>sirocco.snapshot.repository</id>
					<name>Sirocco snapshots</name>
					<url>http://repository.ow2.org/nexus/content/repositories/snapshots/</url>
					<releases><enabled>false</enabled></releases>
				    <snapshots><enabled>true</enabled></snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
				<id>OW2Utilities</id>
					 <name>OW2 maven sites</name>
					 <url>http://repository.ow2.org/nexus/content/sites/ow2-utilities/</url>
					 <snapshots><enabled>false</enabled></snapshots>
					 <releases><enabled>true</enabled></releases>
				</pluginRepository> 
			</pluginRepositories>
		</profile>
		<profile>
			<id>env-local</id>
			<activation>
				<property>
					<name>env</name>
					<value>local</value>
				</property>
			</activation>
			<properties>
				<jonas.root>c:\jonas-full-5.2.2</jonas.root>
				<jonas.base>c:\jonas-full-5.2.2</jonas.base>
			</properties>
		</profile>
		<profile>
		   <id>karma-deploy</id>
		   <properties>
			<deploy-host>localhost</deploy-host>
			<deploy-rmi-port>1099</deploy-rmi-port>
		   </properties>
		 </profile>
		 
		 <profile>
			<id>dome</id>
			
			<repositories>
				<repository>
					<id>repo.jenkins-ci.org</id>
					<url>http://repo.jenkins-ci.org/public/</url>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>repo.jenkins-ci.org</id>
					<url>http://repo.jenkins-ci.org/public/</url>
				</pluginRepository>
			</pluginRepositories>
		</profile>

	</profiles>
	
	<activeProfiles>
		<activeProfile>dome</activeProfile>
	</activeProfiles>
</settings>
